* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fafaf8;
  width: 100%;
  font-family: "Inter", sans-serif;
}

/* HEADER START */

header {
  display: flex;
  justify-content: center;
  gap: 11px;
  align-items: center;
  height: 80px;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  padding: 50px;
}

header > img {
  width: 50px;
}

header > h1 {
  font-weight: 400;

  font-size: 32px;
  line-height: 60px;
  letter-spacing: -5%;
}

/* HEADER END */

/* MAIN START */

main {
  padding: 50px 30px 10px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 50px;
}

.add-ingredient-form > input {
  padding: 9px 13px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #d1d5db;
  flex-grow: 1;
  min-width: 150px;
  max-width: 500px;
}

.add-ingredient-form > input::placeholder {
  color: #6b7280;
  font-size: 16px;
}

.add-ingredient-form > button {
  background-color: #141413;
  color: #fafaf8;
  font-weight: 600;
  font-size: 16px;
  padding: 9px 17px;
  width: 150px;
  font-size: 14px;
  border-radius: 6px;
}
button{
  cursor: pointer;
}
/* MAIN END */
